* {
    margin: 0;
    padding: 0;
    
  }

  /* header */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  width: 100%;
  display: flex;
}
  .navbar-brand{
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
  }
  .sticky-nav {
    position:sticky;
  }
ul{
  width: 100%;
  margin: 0 0 0 250px;
  list-style: none;
}
.nav-item{
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 2px;
    color: greenyellow;
    display: flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-transform: uppercase;
} 
** 
  Cart
**/
.submenu {
  position: relative;
}

.submenu #carrito {
  display: none;
}

.submenu:hover #carrito {
  display: block;
  position: absolute;
  right: 0;
  color: white;
  top: 100%;
  z-index: 1;
  background-color: #9b3ca3;
  padding: 20px;
  min-height: 400px;
  min-width: 300px;
}

.bs-stepper .step-trigger {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fc0bfc;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-out, color 0.15s ease-out;
}
.bs-stepper .step-trigger:hover {
  text-decoration: none;
  background-color: rgba(174, 33, 209, 0.06);
}
@media (max-width: 520px) {
  .bs-stepper .step-trigger {
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 10px;
  }
}
.bs-stepper-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 520px) {
  .bs-stepper-header {
      margin: 0 -10px;
      text-align: center;
  }
}
.bs-stepper .step-trigger {
  justify-content: center;
  }
.btn-categoria-container .btn-categoria {
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.btn-categoria-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    max-width: 100%;
    width: 112px;
    height: 112px;
}
.btn-categoria-container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 112px;
  height: 112px;
  margin-right: auto;
  margin-left: auto;
  position: relative
}

.btn-categoria-container .btn-categoria img {
  width: 64px;
  height: 64px;
  margin-bottom: 0.5rem;
}

.btn-categoria-container .btn-categoria p {
  padding: 0.25rem 0.5rem;
  text-align: center;
  font-weight: 700;
}

.categorias-container .col-lg-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #2B2B2B;
  -webkit-transition: width 0.35s, -webkit-transform 0.35s;
  transition: width 0.35s, -webkit-transform 0.35s;
  transition: width 0.35s, transform 0.35s;
  transition: width 0.35s, transform 0.35s, -webkit-transform 0.35s;
  text-decoration: none;
}